<template>
  <v-layout child-flex>
    <v-container fluid>
      <h1 class="headline">{{ $t('system_references') }}</h1>

      <v-row>
        <v-col cols="4">
          <v-card outlined>
            <v-card-title>
              <v-data-table
                :headers="mzrpHeaders"
                :items="mrpItems"
              >
                <template #top>
                  <v-toolbar flat color="white">
                    <v-toolbar-title>
                      <h3 class="subtitle-1">{{ $t('monthly_calculation_indicator') }}</h3>
                    </v-toolbar-title>

                    <v-divider vertical inset class="mx-4" />

                    <v-dialog v-model="showMrpForm" max-width="600" @click:outside="closeForm">
                      <template #activator="{ on }">
                        <div class="text-center">
                          <v-btn text outlined small v-on="on" @click="editMrp">
                            <v-icon left>
                              mdi-pencil
                            </v-icon> {{ $t('edit') }}
                          </v-btn>
                        </div>
                      </template>

                      <v-card :loading="submitting">
                        <v-card-title>
                          <span class="headline">{{ $t('edit') }}</span>
                        </v-card-title>

                        <v-form @submit.prevent="submitForm">
                          <v-card-text>
                            <v-container>
                              <v-row v-for="(item, index) in form.items" :key="index">
                                <v-col cols="6">
                                  <v-text-field
                                    v-model="item.year"
                                    name="year"
                                    :label="$t('year')"
                                    :error-messages="form.errors.get(`items.${index}.year`)"
                                  />
                                </v-col>

                                <v-col cols="6">
                                  <v-text-field
                                    v-model="item.amount"
                                    name="amount"
                                    :label="$t('amount')"
                                    :error-messages="form.errors.get(`items.${index}.amount`)"
                                  />
                                </v-col>
                              </v-row>
                            </v-container>
                          </v-card-text>

                          <v-card-actions>
                            <v-spacer />

                            <v-btn color="blue darken-1" text @click="closeForm">
                              {{ $t('close') }}
                            </v-btn>

                            <v-btn color="blue darken-1" text type="submit">
                              {{ $t('save') }}
                            </v-btn>
                          </v-card-actions>
                        </v-form>
                      </v-card>
                    </v-dialog>
                  </v-toolbar>
                </template>
              </v-data-table>
            </v-card-title>
          </v-card>
        </v-col>

        <v-col cols="4">
          <v-card outlined>
            <v-card-title>
              <v-data-table
                :headers="mzrpHeaders"
                :items="mzpItems"
              >
                <template #top>
                  <v-toolbar flat color="white">
                    <v-toolbar-title>
                      <h3 class="subtitle-1">{{ $t('minimal_salary') }}</h3>
                    </v-toolbar-title>

                    <v-divider vertical inset class="mx-4" />

                    <v-dialog v-model="showMzpForm" max-width="600" @click:outside="closeForm">
                      <template #activator="{ on }">
                        <div class="text-center">
                          <v-btn text outlined small v-on="on" @click="editMzp">
                            <v-icon left>
                              mdi-pencil
                            </v-icon> {{ $t('edit') }}
                          </v-btn>
                        </div>
                      </template>

                      <v-card :loading="submitting">
                        <v-card-title>
                          <span class="headline">{{ $t('edit') }}</span>
                        </v-card-title>

                        <v-form @submit.prevent="submitForm">
                          <v-card-text>
                            <v-container>
                              <v-row v-for="(item, index) in form.items" :key="index">
                                <v-col cols="6">
                                  <v-text-field
                                    v-model="item.year"
                                    name="year"
                                    :label="$t('year')"
                                    :error-messages="form.errors.get(`items.${index}.year`)"
                                  />
                                </v-col>

                                <v-col cols="6">
                                  <v-text-field
                                    v-model="item.amount"
                                    name="amount"
                                    :label="$t('amount')"
                                    :error-messages="form.errors.get(`items.${index}.amount`)"
                                  />
                                </v-col>
                              </v-row>
                            </v-container>
                          </v-card-text>

                          <v-card-actions>
                            <v-spacer />

                            <v-btn color="blue darken-1" text @click="closeForm">
                              {{ $t('close') }}
                            </v-btn>

                            <v-btn color="blue darken-1" text type="submit">
                              {{ $t('save') }}
                            </v-btn>
                          </v-card-actions>
                        </v-form>
                      </v-card>
                    </v-dialog>
                  </v-toolbar>
                </template>
              </v-data-table>
            </v-card-title>
          </v-card>
        </v-col>

        <v-col cols="4">
          <v-card outlined>
            <v-card-title>
              <v-data-table
                :headers="mobileOperatorsHeaders"
                :items="mobileOperatorsItems"
              >
                <template #top>
                  <v-toolbar flat color="white">
                    <v-toolbar-title>
                      <h3 class="subtitle-1">{{ $t('mobile_operators') }}</h3>
                    </v-toolbar-title>

                    <v-divider vertical inset class="mx-4" />

                    <v-dialog v-model="showMobileOperatorsForm" max-width="700" @click:outside="closeForm">
                      <template #activator="{ on }">
                        <div class="text-center">
                          <v-btn text outlined small v-on="on" @click="editMobileOperator">
                            <v-icon left>
                              mdi-pencil
                            </v-icon> {{ $t('edit') }}
                          </v-btn>
                        </div>
                      </template>

                      <v-card :loading="submitting">
                        <v-card-title>
                          <span class="headline">{{ $t('edit') }}</span>
                        </v-card-title>

                        <v-form @submit.prevent="submitForm">
                          <v-card-text>
                            <v-container>
                              <v-row v-for="(item, index) in form.items" :key="index">
                                <v-col cols="4">
                                  <v-text-field
                                    v-model="item.name"
                                    name="name"
                                    :label="$t('name')"
                                    :error-messages="form.errors.get(`items.${index}.name`)"
                                  />
                                </v-col>

                                <v-col cols="8">
                                  <v-combobox
                                    v-model="item.codes"
                                    name="codes"
                                    multiple
                                    clearable
                                    :items="item.codes"
                                    :label="$t('codes')"
                                    :error-messages="form.errors.get(`items.${index}.codes`)"
                                  />
                                </v-col>
                              </v-row>
                            </v-container>
                          </v-card-text>

                          <v-card-actions>
                            <v-spacer />

                            <v-btn color="blue darken-1" text @click="closeForm">
                              {{ $t('close') }}
                            </v-btn>

                            <v-btn color="blue darken-1" text type="submit">
                              {{ $t('save') }}
                            </v-btn>
                          </v-card-actions>
                        </v-form>
                      </v-card>
                    </v-dialog>
                  </v-toolbar>
                </template>
              </v-data-table>
            </v-card-title>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </v-layout>
</template>

<script>
export default {
  name: 'SystemReferences',

  data: () => ({
    showMrpForm: false,
    showMzpForm: false,
    showMobileOperatorsForm: false,
    submitting: false,

    edited: '',

    form: null
  }),

  computed: {
    /**
     * Table headers
     * @returns {*[]}
     */
    mzrpHeaders () {
      return [
        { text: this.$t('year'), value: 'year' },
        { text: this.$t('amount'), value: 'amount' }
      ]
    },

    /**
     * Table items
     * @returns {*}
     */
    mrpItems () {
      return this.mzrpList('monthly_calculation_indicator')
    },

    /**
     * Table items
     * @returns {*}
     */
    mzpItems () {
      return this.mzrpList('minimal_salary')
    },

    /**
     * Table headers
     * @returns {*[]}
     */
    mobileOperatorsHeaders () {
      return [
        { text: this.$t('name'), value: 'name' },
        { text: this.$t('codes'), value: 'codes' }
      ]
    },

    /**
     * Mobile operators list
     * @returns {*}
     */
    mobileOperatorsItems () {
      return this.setting('mobile_operators').map(({ name, codes }, index) => ({
        id: index, name, codes: codes.join(', ')
      }))
    }
  },

  async asyncData ({ $axios }) {
    return {
      settings: await $axios.$get('/api/v1/system-references')
    }
  },

  /**
   * Created hook
   */
  created () {
    this.setForm()
  },

  methods: {
    /**
     * Edit mrp
     */
    editMrp () {
      this.showMrpForm = true

      this.form.items = this.setting('monthly_calculation_indicator')
    },

    /**
     * Edit mrp
     */
    editMzp () {
      this.showMzpForm = true

      this.form.items = this.setting('minimal_salary')
    },

    /**
     * Edit mrp
     */
    editMobileOperator () {
      this.showMobileOperatorsForm = true

      this.form.items = this.setting('mobile_operators')
    },

    /**
     * Submit mrp form
     */
    async submitForm () {
      this.submitting = true

      try {
        await this.form.put(this.submitUri())

        this.closeForm()
      } catch {}

      this.submitting = false
    },

    /**
     * Get submit uri
     * @returns string
     */
    submitUri () {
      let uri = 'mrp'

      if (this.showMzpForm) {
        uri = 'mzp'
      }

      if (this.showMobileOperatorsForm) {
        uri = 'mobile-operators'
      }

      return `/api/v1/system-references/${uri}`
    },

    /**
     * Close form
     */
    closeForm () {
      this.form.reset()
      this.showMrpForm = false
      this.showMzpForm = false
      this.showMobileOperatorsForm = false
    },

    /**
     * Set forms
     */
    setForm () {
      this.form = this.$form({
        items: []
      })
    },

    /**
     * Items list
     * @param type
     * @returns {*}
     */
    mzrpList (type) {
      return this.setting(type).map(({ year, amount }, index) => ({
        year, amount, id: index
      }))
    },

    /**
     * Get setting by name
     * @param settingName
     */
    setting (settingName) {
      return this.settings.find(({ name }) => name === settingName).value
    }
  }
}
</script>

<style scoped>

</style>
