<template>
  <v-layout child-flex>
    <v-data-table
      :headers="tableHeaders"
      :items="tableItems"
      :server-items-length="total"
      :loading="loading"
      @update:options="updateOptions"
    >
      <template #top>
        <v-toolbar flat color="white">
          <v-toolbar-title>
            <h1 class="headline">
              {{ $t('tax_departments') }}
            </h1>
          </v-toolbar-title>

          <v-divider vertical inset class="mx-4" />

          <v-dialog v-model="showForm" @click:outside="closeForm">
            <template #activator="{ on }">
              <div class="text-center">
                <v-btn text outlined small v-on="on" @click="addTaxDepartment">
                  <v-icon left>
                    mdi-plus
                  </v-icon> {{ $t('add') }}
                </v-btn>
              </div>
            </template>

            <v-card :loading="submitting">
              <v-card-title>
                <span class="headline">{{ $t(formTitle) }}</span>
              </v-card-title>

              <v-form @submit.prevent="submit">
                <v-card-text>
                  <v-container>
                    <v-row>
                      <v-col cols="12" sm="6" md="4" lg="3">
                        <v-text-field
                          v-model="form.name"
                          name="name"
                          :label="$t('name')"
                          :error-messages="form.errors.get('name')"
                        />
                      </v-col>

                      <v-col cols="12" sm="6" md="4" lg="3">
                        <v-text-field
                          v-model="form.code"
                          name="code"
                          type="number"
                          :label="$t('code')"
                          :error-messages="form.errors.get('code')"
                        />
                      </v-col>

                      <v-col cols="12" sm="6" md="4" lg="3">
                        <v-text-field
                          v-model="form.bin"
                          name="bin"
                          type="number"
                          :label="$t('bin')"
                          :error-messages="form.errors.get('bin')"
                        />
                      </v-col>

                      <v-col cols="12" sm="6" md="4" lg="3">
                        <v-autocomplete
                          v-model="form.type"
                          autocomplete="off"
                          :items="types"
                          :label="$t('type')"
                          :error-messages="form.errors.get('type')"
                        />
                      </v-col>

                      <v-col cols="12" sm="6" md="4" lg="3">
                        <v-autocomplete
                          v-model="form.parent"
                          autocomplete="off"
                          :items="parents"
                          :label="$t('parent')"
                          :error-messages="form.errors.get('parent')"
                        />
                      </v-col>
                    </v-row>
                  </v-container>
                </v-card-text>

                <v-card-actions>
                  <v-spacer />

                  <v-btn color="blue darken-1" text @click="closeForm">
                    {{ $t('close') }}
                  </v-btn>

                  <v-btn color="blue darken-1" text type="submit">
                    {{ $t('save') }}
                  </v-btn>
                </v-card-actions>
              </v-form>
            </v-card>
          </v-dialog>
        </v-toolbar>
      </template>

      <template #item.actions="{ item: taxDepartment }">
        <v-tooltip top>
          <template #activator="{ on }">
            <v-icon
              small
              @click.stop="editTaxDepartment(taxDepartment.id)"
              v-on="on"
            >
              mdi-pencil
            </v-icon>
          </template>

          <span>{{ $t('edit') }}</span>
        </v-tooltip>

        <v-tooltip top>
          <template #activator="{ on }">
            <v-icon
              small
              @click.stop="deleteTaxDepartment(taxDepartment.id)"
              v-on="on"
            >
              mdi-delete
            </v-icon>
          </template>

          <span>{{ $t('delete') }}</span>
        </v-tooltip>
      </template>
    </v-data-table>
  </v-layout>
</template>

<script>
export default {
  name: 'TaxDepartments',

  middleware: 'auth',

  data: () => ({
    showForm: false,
    editedId: null,
    submitting: false,
    taxDepartments: [],
    total: 0,
    loading: false,
    formUri: '/api/v1/tax-departments',
    form: null,
    tableOptions: null
  }),

  computed: {
    /**
     * Table headers
     * @returns {*[]}
     */
    tableHeaders () {
      return [
        { text: this.$t('name'), value: 'name' },
        { text: this.$t('code'), value: 'code' },
        { text: this.$t('bin'), value: 'bin' },
        { text: this.$t('type'), value: 'type' },
        { text: this.$t('parent'), value: 'parent', sortable: false },
        { text: this.$t('actions'), value: 'actions', sortable: false }
      ]
    },

    /**
     * Table items
     * @returns {*}
     */
    tableItems () {
      return this.taxDepartments.map(({ id, name, code, bin, type, parent }) => ({
        id, name, code, bin, type: this.$t(type), parent: parent ? parent.name : ''
      }))
    },

    /**
     * Form title
     * @returns String
     */
    formTitle () {
      return this.editedId ? 'editing' : 'adding'
    },

    /**
     * Types
     * @returns {*}
     */
    types () {
      return ['region', 'city', 'district'].map(type => ({
        text: this.$t(type), value: type
      }))
    },

    /**
     * Parents list
     * @returns {*}
     */
    parents () {
      return this.taxDepartments
        .filter(({ id }) => parseInt(id) !== parseInt(this.editedId))
        .map(({ id, name }) => ({ text: name, value: id }))
    }
  },

  watch: {
    tableOptions: {
      /**
       * Handler
       * @param options
       */
      handler (options) {
        this.setTaxDepartments(options)
      },

      deep: true
    }
  },

  /**
   * Created hook
   */
  created () {
    this.setForm()
  },

  methods: {
    /**
     * Set form
     */
    setForm () {
      this.form = this.$form({
        name: '',
        code: '',
        bin: '',
        type: '',
        parent: null
      })
    },

    /**
     * Submit form
     */
    async submit () {
      this.submitting = true

      try {
        const saved = this.editedId
          ? await this.form.put(this.formUri)
          : await this.form.post(this.formUri)

        this.closeForm()

        saved && this.setTaxDepartments(this.tableOptions)
      } catch {}

      this.submitting = false
    },

    /**
     * Add taxDepartment
     */
    addTaxDepartment () {
      this.formUri = '/api/v1/tax-departments'
    },

    /**
     * Edit a taxDepartment
     * @param taxDepartmentId
     */
    editTaxDepartment (taxDepartmentId) {
      this.editedId = taxDepartmentId
      this.formUri = `/api/v1/tax-departments/${taxDepartmentId}`

      const taxDepartment = this.taxDepartments.find(({ id }) => id === taxDepartmentId)

      this.form.name = taxDepartment.name
      this.form.code = taxDepartment.code
      this.form.bin = taxDepartment.bin
      this.form.type = taxDepartment.type
      this.form.parent = taxDepartment.parent ? taxDepartment.parent.id : null

      this.showForm = true
    },

    /**
     * Remove a taxDepartment
     * @param taxDepartmentId
     */
    async deleteTaxDepartment (taxDepartmentId) {
      try {
        await this.form.delete(`/api/v1/tax-departments/${taxDepartmentId}`) &&
        this.setTaxDepartments(this.tableOptions)
      } catch {}
    },

    /**
     * Close form
     */
    closeForm () {
      this.form.reset()
      this.editedId = null
      this.showForm = false
    },

    /**
     * Set rights
     * @param options
     */
    async setTaxDepartments (options) {
      this.loading = true

      const { data, total } = await this.$axios.$get(
        `/api/v1/tax-departments?${this.$helpers.resourceFetchParams(options)}`
      )

      this.loading = false
      this.taxDepartments = data
      this.total = total
    },

    /**
     * Update table options
     * @param options
     */
    updateOptions (options) {
      this.tableOptions = options
    }
  }
}
</script>

<style scoped>

</style>
