<template>
  <v-layout child-flex>
    <v-data-table
      :headers="tableHeaders"
      :items="tableItems"
      :server-items-length="total"
      :loading="loading"
      @update:options="updateOptions"
    >
      <template #top>
        <v-toolbar flat color="white">
          <v-toolbar-title>
            <h1 class="headline">
              {{ $t('taxations') }}
            </h1>
          </v-toolbar-title>

          <v-divider vertical inset class="mx-4" />

          <v-dialog v-model="showForm" @click:outside="closeForm">
            <template #activator="{ on }">
              <div class="text-center">
                <v-btn text outlined small v-on="on" @click="addTaxation">
                  <v-icon left>
                    mdi-plus
                  </v-icon> {{ $t('add') }}
                </v-btn>
              </div>
            </template>

            <v-card :loading="submitting">
              <v-card-title>
                <span class="headline">{{ $t(formTitle) }}</span>
              </v-card-title>

              <v-form @submit.prevent="submit">
                <v-card-text>
                  <v-container>
                    <v-row>
                      <v-col cols="12" sm="6" md="4" lg="3">
                        <v-text-field
                          v-model="form.name"
                          name="name"
                          :label="$t('name')"
                          :error-messages="form.errors.get('name')"
                        />
                      </v-col>

                      <v-col cols="12" sm="6" md="4" lg="3">
                        <v-text-field
                          v-model="form.code"
                          name="code"
                          type="number"
                          :label="$t('code')"
                          :error-messages="form.errors.get('code')"
                        />
                      </v-col>

                      <v-col cols="12" sm="6" md="8" lg="6">
                        <v-textarea
                          v-model="form.description"
                          name="description"
                          rows="1"
                          :label="$t('description')"
                          :error-messages="form.errors.get('description')"
                        />
                      </v-col>
                    </v-row>
                  </v-container>
                </v-card-text>

                <v-card-actions>
                  <v-spacer />

                  <v-btn color="blue darken-1" text @click="closeForm">
                    {{ $t('close') }}
                  </v-btn>

                  <v-btn color="blue darken-1" text type="submit">
                    {{ $t('save') }}
                  </v-btn>
                </v-card-actions>
              </v-form>
            </v-card>
          </v-dialog>
        </v-toolbar>
      </template>

      <template #item.actions="{ item: taxation }">
        <v-tooltip top>
          <template #activator="{ on }">
            <v-icon
              small
              @click.stop="editTaxation(taxation.id)"
              v-on="on"
            >
              mdi-pencil
            </v-icon>
          </template>

          <span>{{ $t('edit') }}</span>
        </v-tooltip>

        <v-tooltip top>
          <template #activator="{ on }">
            <v-icon
              small
              @click.stop="deleteTaxation(taxation.id)"
              v-on="on"
            >
              mdi-delete
            </v-icon>
          </template>

          <span>{{ $t('delete') }}</span>
        </v-tooltip>
      </template>
    </v-data-table>
  </v-layout>
</template>

<script>
export default {
  name: 'Taxations',

  middleware: 'auth',

  data: () => ({
    showForm: false,
    editedId: null,
    submitting: false,
    taxations: [],
    total: 0,
    loading: false,
    formUri: '/api/v1/taxations',
    form: null,
    tableOptions: null
  }),

  computed: {
    /**
     * Table headers
     * @returns {*[]}
     */
    tableHeaders () {
      return [
        { text: this.$t('name'), value: 'name' },
        { text: this.$t('code'), value: 'code' },
        { text: this.$t('description'), value: 'description', sortable: false },
        { text: this.$t('actions'), value: 'actions', sortable: false }
      ]
    },

    /**
     * Table items
     * @returns {*}
     */
    tableItems () {
      return this.taxations.map(({ id, name, code, description }) => ({ id, name, code, description }))
    },

    /**
     * Form title
     * @returns String
     */
    formTitle () {
      return this.editedId ? 'editing' : 'adding'
    },

    /**
     * Types
     * @returns {*}
     */
    types () {
      return ['region', 'city', 'district'].map(type => ({
        text: this.$t(type), value: type
      }))
    },

    /**
     * Parents list
     * @returns {*}
     */
    parents () {
      return this.taxations
        .filter(({ id }) => parseInt(id) !== parseInt(this.editedId))
        .map(({ id, name }) => ({ text: name, value: id }))
    }
  },

  watch: {
    tableOptions: {
      /**
       * Handler
       * @param options
       */
      handler (options) {
        this.setTaxations(options)
      },

      deep: true
    }
  },

  /**
   * Created hook
   */
  created () {
    this.setForm()
  },

  methods: {
    /**
     * Set form
     */
    setForm () {
      this.form = this.$form({
        name: '',
        code: '',
        description: ''
      })
    },

    /**
     * Submit form
     */
    async submit () {
      this.submitting = true

      try {
        const saved = this.editedId
          ? await this.form.put(this.formUri)
          : await this.form.post(this.formUri)

        this.closeForm()

        saved && this.setTaxations(this.tableOptions)
      } catch {}

      this.submitting = false
    },

    /**
     * Add taxation
     */
    addTaxation () {
      this.formUri = '/api/v1/taxations'
    },

    /**
     * Edit a taxation
     * @param taxationId
     */
    editTaxation (taxationId) {
      this.editedId = taxationId
      this.formUri = `/api/v1/taxations/${taxationId}`

      const taxation = this.taxations.find(({ id }) => id === taxationId)

      this.form.name = taxation.name
      this.form.code = taxation.code
      this.form.description = taxation.description

      this.showForm = true
    },

    /**
     * Remove a taxation
     * @param taxationId
     */
    async deleteTaxation (taxationId) {
      try {
        await this.form.delete(`/api/v1/taxations/${taxationId}`) &&
        this.setTaxations(this.tableOptions)
      } catch {}
    },

    /**
     * Close form
     */
    closeForm () {
      this.form.reset()
      this.editedId = null
      this.showForm = false
    },

    /**
     * Set rights
     * @param options
     */
    async setTaxations (options) {
      this.loading = true

      const { data, total } = await this.$axios.$get(
        `/api/v1/taxations?${this.$helpers.resourceFetchParams(options)}`
      )

      this.loading = false
      this.taxations = data
      this.total = total
    },

    /**
     * Update table options
     * @param options
     */
    updateOptions (options) {
      this.tableOptions = options
    }
  }
}
</script>

<style scoped>

</style>
