<template>
  <v-system-bar dark app v-if="show" :color="error ? 'red' : 'green'">
    <span v-html="$t('ncalayer_error')"/>

    <v-spacer/>

    <v-icon @click="close">
      mdi-close
    </v-icon>
  </v-system-bar>
</template>

<script>
export default {
  name: 'SystemBar',

  props: {
    timeout: {
      type: Number,
      default: 60000
    }
  },

  data: () => ({
    show: false,
    message: '',
    error: false,
    timeoutId: null
  }),

  created () {
    this.$store.watch(state => state.error.systemBar, (systemBar) => {
      systemBar && this.showError(systemBar)
    })
  },

  methods: {
    /**
     * Show error
     * @param error
     */
    showError (error) {
      this.error = true
      this.showSystemBar(error)

      this.$store.commit('error/setSystemBar', null)
    },

    /**
     * Show system bar
     * @param data
     * @param message
     */
    showSystemBar ({ data, message }) {
      clearTimeout(this.timeoutId)

      this.show = true
      this.message = message

      this.closeAfterTimeout()
    },

    /**
     * Close system bar after timeout
     */
    closeAfterTimeout () {
      this.timeoutId = setTimeout(() => this.close(), this.timeout)
    },

    /**
     * Close system bar
     */
    close () {
      this.show = false
      this.error = false
      this.message = ''
    }
  }
}
</script>
