<template>
  <v-app light>
    <system-bar/>

    <v-app-bar app dense elevation="1" hide-on-scroll>
      <v-toolbar-title v-text="title" />

      <v-spacer />

      <v-toolbar-items>
        <v-menu
          v-for="(rights, group) in menuItems"
          :key="group"
          offset-y
          open-on-hover
        >
          <template #activator="{ on }">
            <v-btn text v-on="on">
              {{ $t(group) }} <v-icon right>
                mdi-chevron-down
              </v-icon>
            </v-btn>
          </template>

          <v-list nav>
            <v-list-item
              v-for="(right, index) in rights"
              :key="index"
              :to="`/${nameToPath(group)}/${nameToPath(right)}`"
              nuxt
            >
              <v-list-item-title>{{ $t(right) }}</v-list-item-title>
            </v-list-item>
          </v-list>
        </v-menu>

        <v-menu offset-y open-on-hover>
          <template #activator="{ on }">
            <v-btn text v-on="on">
              <v-icon left>
                mdi-earth
              </v-icon>
              {{ $i18n.locale }}
              <v-icon right>
                mdi-chevron-down
              </v-icon>
            </v-btn>
          </template>

          <v-list v-model="$i18n.locale">
            <v-list-item
              v-for="(lang, index) in languages"
              :key="index"
              @click="$i18n.locale = lang"
            >
              <v-list-item-title>{{ $t(lang) }}</v-list-item-title>
            </v-list-item>
          </v-list>
        </v-menu>

        <template v-if="!$auth.loggedIn">
          <v-btn text to="/registration" nuxt>
            <v-icon left>
              mdi-account-plus-outline
            </v-icon> {{ $t('registration') }}
          </v-btn>

          <v-btn text to="/login" nuxt>
            <v-icon left>
              mdi-login
            </v-icon> {{ $t('login') }}
          </v-btn>
        </template>

        <v-btn v-if="$auth.loggedIn" text @click="logout">
          <v-icon left>
            mdi-logout
          </v-icon> Logout
        </v-btn>
      </v-toolbar-items>
    </v-app-bar>

    <v-content class="white">
      <v-container fluid fill-height>
        <nuxt />
      </v-container>
    </v-content>

    <v-footer
      :fixed="fixed"
      app
    >
      <span>&copy; 2019</span>
    </v-footer>

    <error-notification />
  </v-app>
</template>

<script>
import ErrorNotification from '@/components/ErrorNotification'
import SystemBar from '@/components/SystemBar'

export default {
  components: { ErrorNotification, SystemBar },

  data: () => ({
    fixed: false,
    title: 'Taxing.kz'
  }),

  computed: {
    /**
     * Menu Items
     */
    menuItems () {
      return this.$auth.loggedIn ? this.rightsToMenuItems() : []
    },

    /**
     * Languages
     */
    languages () {
      return ['kz', 'ru'].filter(lang => lang !== this.$i18n.locale)
    }
  },

  methods: {
    /**
     * Logout
     * @returns {Promise<void>}
     */
    async logout () {
      await this.$auth.logout()
    },

    /**
     * Rights to menu items
     * @returns {{readonly group?: *, readonly name?: *}}
     */
    rightsToMenuItems () {
      return (this.$auth.user.rights || []).reduce((carry, { name, group }) => ({
        ...carry, [group.name]: [ ...(carry[group.name] || []), name ]
      }), {})
    },

    /**
     * Replace underscore to hyphen
     * @param name
     * @returns {*|boolean|void|string}
     */
    nameToPath (name) {
      return name.replace('_', '-')
    }
  }
}
</script>
