<template>
  <v-layout child-flex>
    <v-stepper v-model="step" vertical non-linear>
      <v-stepper-header>
        <v-container fluid fill-height>
          <h1 class="headline">
            {{ $t('registration') }}
          </h1>
        </v-container>
      </v-stepper-header>

      <v-form @submit.prevent="submit">
        <v-stepper-step :complete="step > 1" :editable="step > 1" step="1">
          {{ $t('personal_data') }}
        </v-stepper-step>

        <v-stepper-content step="1">
          <v-card>
            <v-container fluid>
              <v-row>
                <v-col cols="12" sm="6" md="4" lg="3">
                  <v-text-field
                    v-model="form.name"
                    name="name"
                    clearable
                    :label="$t('name')"
                    :error-messages="form.errors.get('name')"
                  />
                </v-col>

                <v-col cols="12" sm="6" md="4" lg="3">
                  <v-text-field
                    v-model="form.surname"
                    name="surname"
                    clearable
                    :label="$t('surname')"
                    :error-messages="form.errors.get('surname')"
                  />
                </v-col>

                <v-col cols="12" sm="6" md="4" lg="3">
                  <v-text-field
                    v-model="form.patronymic"
                    name="patronymic"
                    clearable
                    :label="$t('patronymic')"
                    :error-messages="form.errors.get('patronymic')"
                  />
                </v-col>

                <v-col cols="12" sm="6" md="4" lg="3">
                  <v-text-field
                    v-model="form.iin"
                    name="iin"
                    clearable
                    :label="$t('iin')"
                    :error-messages="form.errors.get('iin')"
                  />
                </v-col>

                <v-col cols="12" sm="1">
                  <v-autocomplete
                    v-model="form.phone.code"
                    name="phone.code"
                    autocomplete="off"
                    :items="phoneCodes"
                    :label="$t('operator')"
                    :error-messages="form.errors.get('phone.code')"
                  />
                </v-col>

                <v-col cols="12" sm="2">
                  <v-text-field
                    v-model="form.phone.number"
                    name="phone.number"
                    clearable
                    counter
                    maxlength="7"
                    :label="$t('number')"
                    :error-messages="form.errors.get('phone.number')"
                  />
                </v-col>
              </v-row>
            </v-container>

            <v-card-actions>
              <v-btn type="submit" color="primary">
                {{ $t('continue') }}
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-stepper-content>

        <v-stepper-step :complete="step > 2" :editable="step > 2" step="2">
          {{ $t('tax_data') }}
        </v-stepper-step>

        <v-stepper-content step="2">
          <v-card>
            <v-container fluid>
              <v-row>
                <v-col cols="12" sm="6" md="4" lg="3">
                  <v-autocomplete
                    v-model="form.taxation"
                    name="taxation"
                    autocomplete="off"
                    :label="$t('taxation')"
                    :items="taxations"
                    :error-messages="form.errors.get('taxation')"
                  />
                </v-col>

                <v-col cols="12" sm="6" md="4" lg="3">
                  <v-autocomplete
                    v-model="form.actual_department"
                    name="actual_department"
                    autocomplete="off"
                    :label="$t('actual_department')"
                    :items="taxDepartments"
                    :error-messages="form.errors.get('actual_department')"
                  />
                </v-col>

                <v-col cols="12" sm="6" md="4" lg="3">
                  <v-autocomplete
                    v-model="form.registration_department"
                    name="registration_department"
                    autocomplete="off"
                    :label="$t('registration_department')"
                    :items="taxDepartments"
                    :error-messages="form.errors.get('registration_department')"
                  />
                </v-col>

                <v-col cols="12" sm="6" md="4" lg="3">
                  <v-switch v-model="form.resident" :label="$t('resident')"/>
                </v-col>
              </v-row>
            </v-container>

            <v-card-actions>
              <v-btn type="submit" color="primary">
                {{ $t('continue') }}
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-stepper-content>

        <v-stepper-step step="3">
          {{ $t('credentials') }}
        </v-stepper-step>

        <v-stepper-content step="3">
          <v-card>
            <v-container fluid>
              <v-row>
                <v-col cols="12" sm="6" md="4" lg="3">
                  <v-text-field
                    v-model="form.email"
                    name="email"
                    clearable
                    :label="$t('email')"
                    :error-messages="form.errors.get('email')"
                  />
                </v-col>

                <v-col cols="12" sm="6" md="4" lg="3">
                  <v-text-field
                    v-model="form.password"
                    name="password"
                    autocomplete="off"
                    :type="showPassword ? 'text' : 'password'"
                    :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                    :label="$t('password')"
                    :error-messages="form.errors.get('password')"
                    @click:append="showPassword = !showPassword"
                  />
                </v-col>

                <v-col cols="12" sm="6" md="4" lg="3">
                  <v-text-field
                    v-model="form.password_confirmation"
                    name="password_confirmation"
                    autocomplete="off"
                    :type="showPasswordConfirmation ? 'text' : 'password'"
                    :append-icon="showPasswordConfirmation ? 'mdi-eye' : 'mdi-eye-off'"
                    :label="$t('password_confirmation')"
                    @click:append="showPasswordConfirmation = !showPasswordConfirmation"
                  />
                </v-col>
              </v-row>
            </v-container>

            <v-card-actions>
              <v-btn type="submit" color="primary">
                {{ $t('continue') }}
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-stepper-content>
      </v-form>
    </v-stepper>
  </v-layout>
</template>

<script>
export default {
  name: 'Registration',

  middleware: 'auth',

  auth: 'guest',

  data: () => ({
    step: 1,
    form: null,
    phoneCodes: [],
    taxations: [],
    taxDepartments: [],
    email: '',
    password: '',
    showPassword: false,
    showPasswordConfirmation: false
  }),

  created () {
    this.setForm()
    this.setLists()
  },

  methods: {
    /**
     * Set form
     */
    setForm () {
      this.form = this.$form({
        name: '',
        surname: '',
        patronymic: '',
        iin: '',
        email: '',
        phone: {
          code: '',
          number: ''
        },
        role: null,
        taxation: null,
        registration_department: null,
        actual_department: null,
        resident: true,
        password: '',
        password_confirmation: ''
      })
    },

    /**
     * Submit form
     */
    async submit () {
      this.setLoginCredentials()

      try {
        await this.form.post('/api/v1/registration/client') === true &&
        this.login()
      } catch ({ response }) {
        response.status === 422 && this.continueIfFilled()
      }
    },

    /**
     * Login after registration
     */
    async login () {
      await this.$auth.loginWith('local', { data: this.loginCredentials() })

      this.$router.push(this.redirectPath())
    },

    /**
     * Login credentials
     * @returns {*}
     */
    loginCredentials () {
      return { email: this.email, password: this.password }
    },

    /**
     * Set login credentials
     */
    setLoginCredentials () {
      this.email = this.form.email
      this.password = this.form.password
    },

    /**
     * Redirect path after registration
     * @returns string
     */
    redirectPath () {
      // todo: check if there's a route path to redirect after registration
      const { default_right: defaultRight } = this.$auth.user

      return `/${defaultRight.group.name}/${defaultRight.name}`
    },

    /**
     * Continue if filled
     */
    continueIfFilled () {
      if (this.stepInvalid()) {
        return
      }

      this.form.errors.clear()
      this.step++
    },

    /**
     * Check if step not ok
     * @returns {*}
     */
    stepInvalid () {
      const { errors } = this.form.errors

      switch (this.step) {
        case 1:
          return errors.name || errors.surname || errors.patronymic || errors.iin || errors['phone.code'] || errors['phone.number']
        case 2:
          return errors.taxation || errors.registration_department || errors.actual_department
        case 3:
          return errors.email || errors.password
        default:
          return false
      }
    },

    /**
     * Set lists
     */
    async setLists () {
      const promises = [
        '/api/v1/resources/phone-codes',
        '/api/v1/resources/taxations',
        '/api/v1/resources/tax-departments'
      ].map(uri => this.$axios.$get(uri))

      const lists = await Promise.all(promises)

      const items = (data, phone = false, translate = false) => data.map(item => ({
        text: phone ? item : (translate ? this.$t(item.name) : item.name),
        value: phone ? item : item.id
      }))

      this.phoneCodes = items(lists[0], true)
      this.taxations = items(lists[1], false, true)
      this.taxDepartments = items(lists[2])
    }
  }
}
</script>

<style scoped>

</style>
