<template>
  <v-layout child-flex>
    <v-container fluid>
      <h1 class="headline">{{ `${$t(taxation)} "${organization}"` }}</h1>

      <v-row>
        <v-col cols="12">
          <v-card outlined>
            <v-card-title>
              <h3 class="subtitle-1">{{ $t('company_revenue') }}</h3>
            </v-card-title>

            <v-container fluid>
              <v-row>
                <v-col cols="4">
                  <v-text-field
                    v-model="form.revenue"
                    name="revenue"
                    clearable
                    placeholder="0"
                    autocomplete="off"
                    outlined
                    :hint="$t(`${organizationType}_revenue_hint`)"
                    :label="$t('revenue')"
                    :error-messages="form.errors.get('revenue')"
                  />
                </v-col>

                <v-col cols="4">
                  <v-switch
                    v-model="form.revenue_correction"
                    name="revenue_correction"
                    :label="$t('revenue_correction')"
                  />
                </v-col>
              </v-row>

              <v-row v-if="form.revenue_correction">
                <v-col cols="4">
                  <v-text-field
                    v-model="form.revenue_correction_value"
                    name="revenue_correction_value"
                    clearable
                    placeholder="0"
                    autocomplete="off"
                    outlined
                    :hint="$t(`${organizationType}_revenue_correction_value_hint`)"
                    :label="$t('revenue_correction_value')"
                    :error-messages="form.errors.get('revenue_correction_value')"
                  />
                </v-col>

                <v-col cols="4">
                  <v-switch
                    v-model="form.revenue_correction_decrease"
                    name="revenue_correction_decrease"
                    :label="$t('revenue_correction_decrease')"
                  />
                </v-col>
              </v-row>
            </v-container>
          </v-card>
        </v-col>
      </v-row>

      <v-row>
        <v-col cols="12">
          <v-card outlined>
            <v-card-title>
              <h3 class="subtitle-1">{{ $t(`${organizationType}_salary`) }}</h3>
            </v-card-title>

            <v-container fluid>
              <v-row>

              </v-row>
            </v-container>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </v-layout>
</template>

<script>
import NCALayer from '@/custom/ncalayer'

export default {
  name: 'SubmitReport',

  data: () => ({
    ncalayer: null,
    form: null
  }),

  computed: {
    /**
     * User organization taxation type
     */
    taxation () {
      return this.$auth.user.organization.taxation.name
    },

    /**
     * Organization
     */
    organization () {
      return this.$auth.user.organization.name
    },

    /**
     * Organization type
     */
    organizationType () {
      return this.$auth.user.organization.organization_type.name
    }
  },

  created () {
    this.setForm()
  },

  /**
   * Mounted hook
   */
  mounted () {
    this.ncalayer = new NCALayer(this.$store)
  },

  methods: {
    /**
     * Set form
     */
    setForm () {
      this.form = this.$form({
        revenue: null,
        revenue_correction: false,
        revenue_correction_value: null,
        revenue_correction_decrease: false
      })
    }
  }
}
</script>

<style scoped>

</style>
