<template>
  <v-layout child-flex>
    <v-data-table
      :headers="tableHeaders"
      :items="tableItems"
      @update:options="updateOptions"
    >
      <template #top>
        <v-toolbar flat color="white">
          <v-toolbar-title>
            <h1 class="headline">
              {{ $t('roles') }}
            </h1>
          </v-toolbar-title>

          <v-divider vertical inset class="mx-4" />

          <v-dialog v-model="showForm" @click:outside="closeForm">
            <template #activator="{ on }">
              <div class="text-center">
                <v-btn text outlined small v-on="on" @click="addRole">
                  <v-icon left>
                    mdi-plus
                  </v-icon> {{ $t('add') }}
                </v-btn>
              </div>
            </template>

            <v-card :loading="submitting">
              <v-card-title>
                <span class="headline">{{ $t(formTitle) }}</span>
              </v-card-title>

              <v-form @submit.prevent="submit">
                <v-card-text>
                  <v-container>
                    <v-row>
                      <v-col cols="12" sm="6" md="4" lg="3">
                        <v-text-field
                          v-model="form.name"
                          name="name"
                          :label="$t('name')"
                          :error-messages="form.errors.get('name')"
                        />
                      </v-col>

                      <v-col sm="12" md="8" lg="6">
                        <v-row v-for="(right, index) in form.rights" :key="index">
                          <v-col cols="12" sm="5" class="my-0 py-0">
                            <v-autocomplete
                              v-model="form.rights[index].id"
                              autocomplete="off"
                              :name="`rights.${index}.id`"
                              :items="rightsList(right.id)"
                              :label="$t('rights')"
                              :error-messages="form.errors.get(`rights.${index}.id`) || form.errors.get('rights')"
                            />
                          </v-col>

                          <v-col cols="12" sm="5" class="my-0 py-0">
                            <v-autocomplete
                              v-model="form.rights[index].actions"
                              autocomplete="off"
                              :name="`rights.${index}.actions`"
                              :items="rightActions(right.id)"
                              :label="$t('actions')"
                              multiple
                              :error-messages="form.errors.get(`rights.${index}.actions`)"
                            />
                          </v-col>

                          <v-col cols="12" sm="2" class="my-0 pt-6">
                            <v-btn icon small @click="rightIconClick(index)">
                              <v-icon>{{ rightIcon(index) }}</v-icon>
                            </v-btn>
                          </v-col>
                        </v-row>
                      </v-col>

                      <v-col cols="12" sm="6" md="4" lg="3">
                        <v-autocomplete
                          v-model="form.default_right"
                          name="default_right"
                          autocomplete="off"
                          :items="defaultRightsList"
                          :label="$t('default_right')"
                          :error-messages="form.errors.get('default_right')"
                        />
                      </v-col>

                      <v-col cols="12" sm="12" md="8" lg="6">
                        <v-textarea
                          v-model="form.description"
                          name="description"
                          rows="1"
                          :label="$t('description')"
                          :error-messages="form.errors.get('description')"
                        />
                      </v-col>
                    </v-row>
                  </v-container>
                </v-card-text>

                <v-card-actions>
                  <v-spacer />

                  <v-btn color="blue darken-1" text @click="closeForm">
                    {{ $t('close') }}
                  </v-btn>

                  <v-btn color="blue darken-1" text type="submit">
                    {{ $t('save') }}
                  </v-btn>
                </v-card-actions>
              </v-form>
            </v-card>
          </v-dialog>
        </v-toolbar>
      </template>

      <template #item.actions="{ item: role }">
        <v-tooltip top>
          <template #activator="{ on }">
            <v-icon
              small
              @click.stop="editRole(role.id)"
              v-on="on"
            >
              mdi-pencil
            </v-icon>
          </template>

          <span>{{ $t('edit') }}</span>
        </v-tooltip>

        <v-tooltip v-if="role.name !== 'client'" top>
          <template #activator="{ on }">
            <v-icon
              small
              @click.stop="deleteRole(role.id)"
              v-on="on"
            >
              mdi-delete
            </v-icon>
          </template>

          <span>{{ $t('delete') }}</span>
        </v-tooltip>
      </template>
    </v-data-table>
  </v-layout>
</template>

<script>
export default {
  name: 'RolesVue',

  middleware: 'auth',

  data: () => ({
    tableOptions: null,
    showForm: false,
    editing: false,
    submitting: false,
    roles: [],
    formUri: '/api/v1/roles',
    form: null
  }),

  computed: {
    /**
     * Table headers
     * @returns {*[]}
     */
    tableHeaders () {
      return [
        { text: this.$t('name'), value: 'name' },
        { text: this.$t('default_right'), value: 'default_right' },
        { text: this.$t('description'), value: 'description' },
        { text: '', value: 'actions', sortable: false }
      ]
    },

    /**
     * Table items
     * @returns {*}
     */
    tableItems () {
      return this.roles.map(({ id, name, default_right: defaultRight, description }) => ({
        id, name, default_right: defaultRight ? defaultRight.name : '', description
      }))
    },

    /**
     * Form title
     * @returns String
     */
    formTitle () {
      return this.editing ? 'editing' : 'adding'
    },

    /**
     * Default rights list
     * @returns {*}
     */
    defaultRightsList () {
      return this.rights
        .filter(({ id }) => this.form.rights.some(formRight => formRight.id === id))
        .map(({ id, name }) => ({ value: id, text: this.$t(name) }))
    }
  },

  /**
   * Async data
   * @param $axios
   * @param app
   * @returns {Promise<{roles: *}>}
   */
  asyncData: async ({ $axios, app }) => ({
    rights: await $axios.$get('/api/v1/roles/rights')
  }),

  /**
   * Created hook
   */
  created () {
    this.setForm()
    this.setRoles()
  },

  methods: {
    /**
     * Set form
     */
    setForm () {
      this.form = this.$form({
        name: '',
        rights: [{ id: null, actions: [] }],
        default_right: null,
        description: ''
      })
    },

    /**
     * Submit form
     */
    async submit () {
      this.submitting = true

      try {
        const saved = this.editing
          ? await this.form.put(this.formUri)
          : await this.form.post(this.formUri)

        this.closeForm()

        saved && this.setRoles()
      } catch {}

      this.submitting = false
    },

    /**
     * Add role
     */
    addRole () {
      this.formUri = '/api/v1/roles'
    },

    /**
     * Edit a role
     * @param roleId
     */
    async editRole (roleId) {
      this.editing = true
      this.formUri = `/api/v1/roles/${roleId}`

      const data = await this.$axios.$get(this.formUri)

      this.form.name = data.name

      data.rights && (this.form.rights = data.rights.map(({ id, actions }) => ({ id, actions })))
      data.default_right && (this.form.default_right = data.default_right.id)

      this.form.description = data.description

      this.showForm = true
    },

    /**
     * Remove a role
     * @param roleId
     */
    async deleteRole (roleId) {
      try {
        await this.form.delete(`/api/v1/roles/${this.selectedRoles[0].id}`) &&
        this.setRoles()
      } catch {}
    },

    /**
     * Close form
     */
    closeForm () {
      this.form.reset()
      this.editing = false
      this.showForm = false
    },

    /**
     * Right actions
     * @param id
     */
    rightActions (id) {
      if (!id) {
        return []
      }

      return this.rights.find(right => right.id === id).actions
    },

    /**
     * Rights list
     * @returns {*}
     */
    rightsList (id) {
      return this.rights
        .filter(right => !this.form.rights.some(formRight =>
          id
            ? formRight.id === right.id && right.id !== id
            : formRight.id === right.id
        ))
        .map(({ id, name }) => ({ value: id, text: this.$t(name) }))
    },

    /**
     * Right icon click
     */
    rightIconClick (index) {
      if (this.lastRight(index)) {
        return this.form.rights.push({ id: null, actions: [] })
      }

      this.form.rights.splice(index, 1)
    },

    /**
     * Right list plus/times icon
     * @param index
     * @returns {string}
     */
    rightIcon (index) {
      return this.lastRight(index) ? 'mdi-plus' : 'mdi-close'
    },

    /**
     * Check if last right
     * @param index
     * @returns {boolean}
     */
    lastRight (index) {
      return index === this.form.rights.length - 1
    },

    /**
     * Set rights
     */
    async setRoles () {
      this.roles = await this.$axios.$get('/api/v1/roles')
    },

    /**
     * Update table options
     * @param options
     */
    updateOptions (options) {
      this.tableOptions = options
    }
  }
}
</script>

<style scoped>

</style>
