<template>
  <v-layout child-flex>
    <v-data-table
      :headers="tableHeaders"
      :items="tableItems"
      :server-items-length="total"
      :loading="loading"
      @update:options="updateOptions"
    >
      <template #top>
        <v-toolbar flat color="white">
          <v-toolbar-title>
            <h1 class="headline">
              {{ $t('users') }}
            </h1>
          </v-toolbar-title>

          <v-divider vertical inset class="mx-4" />

          <v-dialog v-model="showForm" @click:outside="closeForm">
            <template #activator="{ on }">
              <div class="text-center">
                <v-btn text outlined small v-on="on" @click="addUser">
                  <v-icon left>
                    mdi-plus
                  </v-icon> {{ $t('add') }}
                </v-btn>
              </div>
            </template>

            <v-card :loading="submitting">
              <v-card-title>
                <span class="headline">{{ $t(formTitle) }}</span>
              </v-card-title>

              <v-form @submit.prevent="submit">
                <v-card-text>
                  <v-container>
                    <v-row>
                      <v-col cols="12" sm="6" md="4" lg="3">
                        <v-text-field
                          v-model="form.name"
                          name="name"
                          clearable
                          :label="$t('name')"
                          :error-messages="form.errors.get('name')"
                        />
                      </v-col>

                      <v-col cols="12" sm="6" md="4" lg="3">
                        <v-text-field
                          v-model="form.surname"
                          name="surname"
                          clearable
                          :label="$t('surname')"
                          :error-messages="form.errors.get('surname')"
                        />
                      </v-col>

                      <v-col cols="12" sm="6" md="4" lg="3">
                        <v-text-field
                          v-model="form.patronymic"
                          name="patronymic"
                          clearable
                          :label="$t('patronymic')"
                          :error-messages="form.errors.get('patronymic')"
                        />
                      </v-col>

                      <v-col cols="12" sm="6" md="4" lg="3">
                        <v-text-field
                          v-model="form.iin"
                          name="iin"
                          clearable
                          :label="$t('iin')"
                          :error-messages="form.errors.get('iin')"
                        />
                      </v-col>
                    </v-row>

                    <v-row>
                      <v-col cols="12" sm="6" md="4" lg="3">
                        <v-text-field
                          v-model="form.email"
                          name="email"
                          clearable
                          :label="$t('email')"
                          :error-messages="form.errors.get('email')"
                        />
                      </v-col>

                      <v-col cols="12" sm="1">
                        <v-select
                          v-model="form.phone.code"
                          name="phone.code"
                          autocomplete="off"
                          :items="mobileOperatorsList"
                          :label="$t('operator')"
                          :error-messages="form.errors.get('phone.code')"
                        >
                          <template #selection="data">
                            <span>{{ `${data.item.text}/${data.item.value}` }}</span>
                          </template>

                          <template #item="data">
                            <v-list-item-content>
                              <v-list-item-title>{{ data.item.value }}</v-list-item-title>
                              <v-list-item-subtitle>{{ data.item.text }}</v-list-item-subtitle>
                            </v-list-item-content>
                          </template>
                        </v-select>
                      </v-col>

                      <v-col cols="12" sm="2">
                        <v-text-field
                          v-model="form.phone.number"
                          name="phone.number"
                          clearable
                          counter
                          maxlength="7"
                          :label="$t('number')"
                          :error-messages="form.errors.get('phone.number')"
                        />
                      </v-col>

                      <v-col cols="12" sm="6" md="4" lg="3">
                        <v-switch v-model="form.resident" :label="$t('resident')"/>
                      </v-col>
                    </v-row>

                    <v-row>
                      <v-col cols="12" sm="6" md="4" lg="3">
                        <v-autocomplete
                          v-model="form.role"
                          name="role"
                          autocomplete="off"
                          :label="$t('role')"
                          :items="rolesList"
                          :error-messages="form.errors.get('role')"
                        />
                      </v-col>

                      <v-col cols="12" sm="6" md="4" lg="3">
                        <v-text-field
                          v-model="form.password"
                          name="password"
                          clearable
                          :label="$t('password')"
                          :error-messages="form.errors.get('password')"
                        />
                      </v-col>

                      <v-col cols="12" sm="6" md="4" lg="3">
                        <v-text-field
                          v-model="form.password_confirmation"
                          name="password_confirmation"
                          clearable
                          :label="$t('password_confirmation')"
                          :error-messages="form.errors.get('password_confirmation')"
                        />
                      </v-col>
                    </v-row>
                  </v-container>
                </v-card-text>

                <v-card-actions>
                  <v-spacer />

                  <v-btn color="blue darken-1" text @click="closeForm">
                    {{ $t('close') }}
                  </v-btn>

                  <v-btn color="blue darken-1" text type="submit">
                    {{ $t('save') }}
                  </v-btn>
                </v-card-actions>
              </v-form>
            </v-card>
          </v-dialog>
        </v-toolbar>
      </template>

      <template #item.actions="{ item: user }">
        <v-tooltip top>
          <template #activator="{ on }">
            <v-icon
              small
              @click.stop="editUser(user.id)"
              v-on="on"
            >
              mdi-pencil
            </v-icon>
          </template>

          <span>{{ $t('edit') }}</span>
        </v-tooltip>

        <v-tooltip top>
          <template #activator="{ on }">
            <v-icon
              small
              @click.stop="deleteUser(user.id)"
              v-on="on"
            >
              mdi-delete
            </v-icon>
          </template>

          <span>{{ $t('delete') }}</span>
        </v-tooltip>
      </template>
    </v-data-table>
  </v-layout>
</template>

<script>
export default {
  name: 'Users',

  middleware: 'auth',

  data: () => ({
    showForm: false,
    editedId: null,
    submitting: false,
    users: [],
    phoneCodes: [],
    taxations: [],
    taxDepartments: [],
    roles: [],
    total: 0,
    loading: false,
    formUri: '/api/v1/users',
    form: null,
    tableOptions: null
  }),

  computed: {
    /**
     * Table headers
     * @returns {*[]}
     */
    tableHeaders () {
      return [
        { text: this.$t('name'), value: 'name' },
        { text: this.$t('surname'), value: 'surname' },
        { text: this.$t('patronymic'), value: 'patronymic' },
        { text: this.$t('iin'), value: 'iin' },
        { text: this.$t('email'), value: 'email' },
        { text: this.$t('phone'), value: 'phone' },
        { text: this.$t('role'), value: 'role', sortable: false },
        { text: this.$t('actions'), value: 'actions', sortable: false }
      ]
    },

    /**
     * Table items
     * @returns {*}
     */
    tableItems () {
      return this.users.map(({
        id,
        name,
        surname,
        patronymic,
        iin,
        email,
        phone,
        role
      }) => ({
        id,
        name,
        surname,
        patronymic,
        iin,
        email,
        phone: `+7 (${phone.code}) ${phone.number}`,
        role: role.name
      }))
    },

    /**
     * Form title
     * @returns String
     */
    formTitle () {
      return this.editedId ? 'editing' : 'adding'
    },

    /**
     * Types
     * @returns {*}
     */
    types () {
      return ['region', 'city', 'district'].map(type => ({
        text: this.$t(type), value: type
      }))
    },

    /**
     * Parents list
     * @returns {*}
     */
    parents () {
      return this.users
        .filter(({ id }) => parseInt(id) !== parseInt(this.editedId))
        .map(({ id, name }) => ({ text: name, value: id }))
    },

    /**
     * Roles list
     */
    rolesList () {
      return this.dataList(this.roles)
    },

    /**
     * Phone codes list
     */
    mobileOperatorsList () {
      return this.mobileOperators.reduce((carry, { name, codes }) => [
        ...carry, ...codes.map(code => ({ text: name, value: code }))
      ], [])
    }
  },

  watch: {
    tableOptions: {
      /**
       * Handler
       * @param options
       */
      handler (options) {
        this.setUsers(options)
      },

      deep: true
    }
  },

  /**
   * Async data
   */
  async asyncData ({ $axios }) {
    const promises = [
      '/api/v1/users/roles',
      '/api/v1/resources/mobile-operators'
    ].map(uri => $axios.$get(uri))

    const data = await Promise.all(promises)

    return {
      roles: data[0],
      mobileOperators: data[1]
    }
  },

  /**
   * Created hook
   */
  created () {
    this.setForm()
  },

  methods: {
    /**
     * Set form
     */
    setForm () {
      this.form = this.$form({
        name: '',
        surname: '',
        patronymic: '',
        iin: '',
        email: '',
        phone: {
          code: '',
          number: ''
        },
        role: null,
        taxation: null,
        registration_department: null,
        actual_department: null,
        resident: true,
        password: '',
        password_confirmation: ''
      })
    },

    /**
     * Make list from data
     * @param data
     * @param phone
     * @returns {*}
     */
    makeList: (data, phone = false) => {
      return {
        text: phone ? data : this.$t(data.name),
        value: phone ? data : data.id
      }
    },

    /**
     * Submit form
     */
    async submit () {
      this.submitting = true

      try {
        const saved = this.editedId
          ? await this.form.put(this.formUri)
          : await this.form.post(this.formUri)

        this.closeForm()

        saved && this.setUsers(this.tableOptions)
      } catch {}

      this.submitting = false
    },

    /**
     * Add user
     */
    addUser () {
      this.formUri = '/api/v1/users'
    },

    /**
     * Edit a user
     * @param userId
     */
    editUser (userId) {
      this.editedId = userId
      this.formUri = `/api/v1/users/${userId}`

      const user = this.users.find(({ id }) => id === userId)

      this.form.name = user.name
      this.form.surname = user.surname
      this.form.patronymic = user.patronymic
      this.form.iin = user.iin
      this.form.email = user.email
      this.form.resident = user.resident
      this.form.phone.code = user.phone.code
      this.form.phone.number = user.phone.number
      this.form.role = user.role.id

      this.showForm = true
    },

    /**
     * Remove a user
     * @param userId
     */
    async deleteUser (userId) {
      try {
        await this.form.delete(`/api/v1/users/${userId}`) &&
        this.setUsers(this.tableOptions)
      } catch {}
    },

    /**
     * Close form
     */
    closeForm () {
      this.form.reset()
      this.editedId = null
      this.showForm = false
    },

    /**
     * Set rights
     * @param options
     */
    async setUsers (options) {
      this.loading = true

      const { data, total } = await this.$axios.$get(
        `/api/v1/users?${this.$helpers.resourceFetchParams(options)}`
      )

      this.loading = false
      this.users = data
      this.total = total
    },

    /**
     * Update table options
     * @param options
     */
    updateOptions (options) {
      this.tableOptions = options
    },

    /**
     * Data to autocomplete items list
     * @param data
     * @param phone
     * @returns {{text: (*), value: (*)}}
     */
    dataList (data, phone = false) {
      return data.map(item => ({
        text: phone ? item : this.$t(item.name),
        value: phone ? item : item.id
      }))
    }
  }
}
</script>

<style scoped>

</style>
